body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;

}
header {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  height: 60px;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.container {
  background-image: url("../img/bg.png");
  background-size: cover;
  overflow: hidden;
}

.register {
  display: flex;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

.icon {
  display: flex;
}

.icon::after {
  content: "";
  border-right: 1px solid white;
  margin-right: 25px;
  opacity: 0.3;
  height: 24px;
}

.entry {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: white;
}

.entry p{
  padding: 0 5px;
}

.icon-svg {
  margin-right: 25px;
  fill: white;
}

.containerForForm {
  width: 444px;
  background-color: #fff;
  margin-top: 50px;
  margin: auto;
  margin-bottom: 75px;
  position: relative;
}

.content {
  width: 325px;
  margin: auto;
  align-items: center;
  margin-top: 50px;
}

.form-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-entry_up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form-entry_in {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
}

.social {
  display: flex;
  justify-content: space-between;
}

.fb {
  background: #294F9D;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fb span::before {
  content: "";
  border-right: 1px solid white;
  margin-right: 25px;
  margin-left: -10px;
  opacity: 0.1;
}

.google span::before {
  content: "";
  border-right: 1px solid white;
  margin-right: 25px;
  margin-left: -10px;
  opacity: 0.1;
}

.google {
  background: #C6422C;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

hr {
  border: none;
  border-top: 1px solid black;
  opacity: 0.5;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: 50px;
} 

hr::after {
  background: #fff;
  color: black;
  content: 'or';
  padding: 0 4px;
  position: relative;
  top: -11px;
} 

.reg-form_item {
  width: 98%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.reg-form_item:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.check {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.rules {
  color: #63C693;
}

.check input {
  margin-right: 10px;
  border: 1px solid #F2F2F2;
  width: 14px;
}

.button {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: white;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  padding: 15px 0;
  margin: 20px 0;
  border: none;
  cursor: pointer;
}

.form-entry::before {
  content: "";
  background: #3CB878;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
}

.logo:hover {
  color: #3CB878;
}

.icon-svg:hover {
  fill: #3CB878;
}

.logIn:hover {
  color: #3CB878;
}

.singUp:hover {
  color: #3CB878;
} 